/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: grid;
  justify-items: center;
  gap: 98px;
  padding: 100px 0;
  font-family: var(--font-main);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight-card-body);
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-content: center;
  gap: 20px;
  border: 2px solid var(--accent-color);
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem) 0;
  background-color: var(--main-color);
  inline-size: min(100%, 700px);
}

.header_title {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header_text {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  display: grid;
  gap: 50px;
  inline-size: min(100%, 700px);
}

.card_list {
  display: grid;
  gap: 50px;
}

.card {
  border: 2px solid var(--accent-color);
}

.card_title {
  padding: 4px 10px;
  font-family: var(--font-main);
  font-size: 18px;
  background-color: var(--main-color);
  font-variation-settings: 'wght' var(--font-weight-card-title);
}

.image_container {
  position: relative;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  max-block-size: max-content;
}

.image_container img {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.brightness {
  filter: brightness(0.5);
}

.contrast {
  filter: contrast(20%);
}

.blur {
  filter: blur(0.5rem);
}

.opacity {
  filter: opacity(0.8);
}

.grayscale {
  filter: grayscale(0.8);
}

.saturate {
  filter: saturate(58%);
}

.hue-rotate {
  filter: hue-rotate(-90deg) invert(0.7);
}

.sepia {
  filter: sepia(80%);
}

.label {
  position: absolute;
  opacity: 0.5;
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  text-shadow:
  -1px 0 var(--main-color),
  0 1px var(--main-color),
  1px 0 var(--main-color),
  0 -1px var(--main-color);
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--main-color)) or (-webkit-text-stroke: 1px var(--main-color))) {
  .label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--main-color);
    text-stroke: 1px var(--main-color);
  }
}

.card_content {
  display: grid;
  gap: 25px;
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
  background-color: var(--main-color);
}

.like {
  display: flex;
  justify-self: end;
  gap: 7px;
}

.card__icon-button {
  display: grid;
  align-self: center;
  border: 2px solid transparent;
  padding: 0;
  outline: none;
  background-color: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
  inline-size: 39px;
  block-size: 36px;
}

.card__icon-button svg {
  justify-self: center;
  align-self: center;
  inline-size: 39px;
  block-size: 36px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  --color-core: #000;
  fill: var(--color-core);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  --color-animation-fill: #000;
  fill: var(--color-animation-fill);
  transition-delay: 0.05s;
}

.like-icon:active .core,
.like-icon:active .main-body {
  --color-animation-fill: #f00;
  fill: var(--color-animation-fill);
}

.like-icon.is-liked .core {
  --animation-fill-color: #f00;
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  --animation-fill-color: #f00;
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  --animation-fill-color: #f00;
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s forwards;
}

.like-icon.is-liked .sparks {
  opacity: 1;
  animation: sparks-fade 0.3s ease-in 0.3s forwards;
}

.sparks {
  opacity: 0;
}

.button {
  position: relative;
  border: 2px solid var(--accent-color);
  outline: none;
  overflow: hidden;
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  background-color: transparent;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::before {
  content: "";
  position: absolute;
  z-index: 1;
  background-color: var(--main-color);
  transition: 0.5s ease-in-out;
  transform: translateX(-100%);
  inset-inline-start: 0;
  inset-block-start: 0;
  inset-block-end: 0;
  inline-size: 100%;
  mix-blend-mode: difference;
}

.button:hover::before {
  transform: translateX(0);
}

.card__like-button {
  min-inline-size: 130px;
  min-block-size: 38px;
}

.save_button {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px 18px;
  background-color: var(--main-color);
}

.save_button svg {
  inline-size: 21px;
  block-size: 21px;
}

#dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

#dialog[open] {
  display: grid;
  grid-template-areas:
    "icon text"
    "button button";
  align-items: center;
  row-gap: 30px;
  column-gap: 20px;
  padding: 28px;
  max-inline-size: 353px;
}

#dialog svg {
  grid-area: icon;
  inline-size: 39px;
  block-size: 39px;
}

.dialog_text {
  grid-area: text;
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog_close-button {
  grid-area: button;
  block-size: 38px;
}

@media (width <= 375px) {
  .save_button {
    flex-direction: column;
  }

  .save_button svg {
    inline-size: 28px;
    block-size: 28px;
  }
}